:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #161616;
  }

}

html {
  height: 100%;
}

.container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}

.container-chat{
  background-color: #2f2f2f;
  padding: 1vh;
  border-radius: 5vh;
}

.container-column1{
  background-color: #131313;
  float: left;
  width: 20%;
  height: 80vh;
  border-radius: 5vh 0vh 0vh 5vh;
}

.container-column2{
  float: right;
  width: 80%;
  height: 80vh;
  position: relative;
}

.messages-chat{
  overflow-y: scroll;
  margin: auto;
  max-height: 70vh;
  max-width: 60%;
}



.animation-message{
  animation: append-animate .3s linear;
}
.guest-message{
  text-align: right;
  display: inline-block;
  overflow-wrap: break-word;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3vh;
  padding: 0vh 2vh 0vh 2vh;
  font-weight: bold;
  background-color: #ff6d6d;
  border-radius: 1vh;
  box-shadow: 5px 2px 2px black;
}

.guest-section{
  text-align: right;
  background-color: #202020;
}

.bot-section{
  text-align: left;
}
.bot-message{
  display: inline-block;
  overflow-wrap: break-word;
  margin-top: 3vh;
  margin-bottom: 1vh;
  margin-left: 3vh;
  padding: 0vh 2vh 0vh 2vh;
  font-weight: bold;
  background-color: #0c0c0c;
  border-radius: 1vh;
  box-shadow: 5px 2px 2px black;
}

@keyframes append-animate {
	from {
    transform: translateX(-100%);
		opacity: 0;
	}
	to {
    transform: translateX(0%);
		opacity: 1;
	}
}

.prompt{
  width: 100%;
  position:absolute; 
  bottom: 0;
}
.about {
  margin: auto;
}

.flexed{
  display: flex;
  position: relative;
  max-width: 43rem;
  max-height: 3rem;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2vh 0 0 2vh;

}
.submit-button{
  border-radius: 0 2vh 2vh 0;
}

.send-icon{
  width: 1rem;
}

h1 {
  text-align: center;
}


input,
button {
  color: #ffffff;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  padding: 0.6em 1.2em;
  border: none;
  background-color: #131313;
  
}



